
body {
  font-family: "Arial";
  background: grey;
  color: white;
  text-align: center;
}

.container {
  max-width: 700px;
  margin: 2rem auto;
  padding: 1rem;
}

/* Styling for section - all slots and sub headers */
.section {
  display: flex;
  flex-direction: column;
  align-items: center; /* centers header + slots horizontally */
  gap: 1rem;
  margin: 2rem 0;
}

/* Style for slot container */
.slots {
  display: flex;
  flex-direction: column; /* stack slots vertically */
  gap: 1rem;             /* space between slots */
  align-items: center;    /* center each slot horizontally */
}

/* Individual slot styles */
.slot {
  background: #222;
  border: 3px solid #555;
  border-radius: 10px;
  width: 480px;          /* fixed width for stacked slots */
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.95rem;
  transition: all 0.3s ease;
  box-shadow: 0 0 10px #000;
}

/* the animation affect for spinning - to updated with rolling colours or variable colours*/
.slot.spin {
  background: #fffb00;
  transform: scale(1.05);
  border-color: #eeff00;
}

/* Spin button */
button#spin {
  padding: 1rem 2rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}

button#spin:hover {
  background: #f06595;
}