
body {
  font-family: "Arial";
  background: grey;
  color: white;
  text-align: center;
}

:root {
  --slot-width: 480px; /* default slot width (overriden by JS)*/
  --slot-height: 56px; /* default slot height */
}

.container {
  max-width: 700px;
  margin: 2rem auto;
  padding: 1rem;
}

.settings {
  display: flex;
  flex-direction: column;
  align-items: center; /* centers header + slots horizontally */
  gap: 1rem;
  margin: 2rem 0;
}

/* Styling for section - all slots and sub headers */
.section {
  display: flex;
  flex-direction: column;
  align-items: center; /* centers header + slots horizontally */
  gap: 1rem;
  margin: 2rem 0;
}

/* Style for slot containers */
.slots {
  display: flex;
  flex-direction: column; /* stack slots vertically */
  gap: 1rem;             /* space between slots */
  align-items: center;    /* center each slot horizontally */
}

/* Individual slot styles */
.slot {
  background: #222;
  border: 3px solid #555;
  border-radius: 10px;
  width: var(--slot-width, 480px);
  height: var(--slot-height, 56px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  padding: 0 12px;
  box-sizing: border-box;
  transition: all 0.3s ease;
  box-shadow: 0 0 10px #000;
}

/* the animation affect for spinning - to updated with rolling colours or variable colours*/
.slot.spin {
  background: #8d83e6;
  transform: scale(1.05);
  border-color: #ffffff;
}

/* Spin button */
button#spin {
  padding: 1rem 2rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}

button#spin:hover {
  background: #f06595;
}